.movie-card {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    background: #2f3640 !important;
    display: flex;
    flex-direction: column;

    .movie-card-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        cursor: pointer;
    }
}