.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #2f3640;
    padding: 10px 8%;

    h1 {
        font-size: 25px;
        font-weight: bold;
    }

    .search-area {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}