.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2f3640;
  padding: 10px 8%;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .search-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media (max-width: 500px) {
      justify-content: center;
      width: 100%;
      padding: 10px 0;
    }
  }
}
